body {
    background-color: $bodyBackground;
    font-family: $fontFamily;
    margin: 0;
}

@mixin contentBoxSize {
    margin: 0 auto;
    max-width: 80.5%;
}

header {
    background-image: url('../img/m-h-day.jpg');
    background-position: center;
    border-bottom-right-radius: 470px 150px;

    .header-wrap {
        @include contentBoxSize;
        padding-top: 20px;

        .landing-logo {
            display: flex;

            p {
                display: grid;
                font-size: 20px;
                margin: 0 0 0 10px;
                text-align: center;

                span {
                    font-size: 8px;
                }
            }
        }
    }
}