@mixin contentBoxSize {
    max-width: 80%;
}
@mixin buttons {
    background-color: $buttonsColor;
    border: 1px solid $buttonsColor;
    border-radius: 3px;
    color: #fff;
    height: 36px;
    width: 110px;
    &:hover {
        cursor: pointer;
    }
}
body {
    background-color: $bodyBackground;
    font-family: $fontFamily;
    margin: 0 auto;
}
button {
    @include buttons;
}
header {
    background: {
        image: $headerBachground;
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    border-bottom-right-radius: 500px 220px;
    .header-wrap {
        margin: 0 auto;
        @include contentBoxSize;
        padding-top: 20px;
        p {
            color: $headerColor;
        }
        .landing-logo {
            display: flex;
            p {
                display: grid;
                font: {
                    size: 20px;
                    weight: 600;
                }
                margin: 0 0 0 10px;
                text-align: center;
                span {
                    font-size: 8px;
                }
            }
        }
        .header_heading {
            font: {
                size: 60px;
                stretch: 100px;
                weight: bold;
            }
            line-height: 1em;
            max-width: 50%;
            margin-bottom: 45px;
        }
        .header_text {
            font-size: $fontSizePlainText;
            max-width: 40%;
        }
        button {
            margin: 30px 120px 80px 0;
        }
    }
}

main {
    @include contentBoxSize;
    margin: 0 auto;
    .section_text {
        color: $headerColor;
        font: {
            size: 25px;
            weight: 600;
        }
        text-align: center;
    }
    .section_card_wrap {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .section_card {
            align-items: inherit;
            background-color: $sectionBgColor;
            display: inherit;
            flex-direction: row;
            margin: 10px auto;
            width: 68%;
            img {
                padding: 15px;
                width: 45%;
            }
            .section_card_right_container {
                text-align: center;
                width: 62%;
                .section_card_text {
                    font-size: $fontSizePlainText;
                    text-align: left;
                }
            }
        }
    }
}