$bodyBackground: #21232E;
$buttonsColor: #E3AC00;
$fontFamily: 'Source Sans Pro', sans-serif;
$fontSizePlainText: 12px;
$headerBachground: url('../img/m-h-night.jpg');
$headerColor: #fff;
$sectionBgColor: #3B3F50;
$sectionColor: #C0C3CE;
$selectedTextColor: #FF4E33;
$leftGradient: #DBA007;
$rightGradient: #96334E;