body {
    max-width: 500px;
    margin: auto;
}

ul, li {
    list-style: none;
}

li {
    padding: 4px 0 6px 28px;
}

li.li-empty {
    font-style: italic;
}

li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

i.orange {
    color: orange;
}

i.gray {
    color: gray;
}

i {
    position: absolute;
    padding-bottom: -20px;
}