@media print{
    .tm-sidebar, .tm-team-img, #about, .blocks .tm-content-box, #tmCarousel .carousel-indicators, section.tm-content-box img, section.tm-content-box #contact{
        display: none;
    }
    
    .tm-main-content {
        margin: 0;
        padding: 0;
	}
	.tm-banner {
        max-width: 95%;
        margin: 0 auto;
        padding: 0;
    }

    .padding-medium, #tmCarousel {
        display: flex;
        flex-direction: column;
        max-width: 88%;
        margin: 0 auto -10px auto;
        padding: 0;
        text-align: center;
    }

    .heading .padding-medium {
        max-width: 45%;
    }

    #tmCarousel h2 {
        margin-top: 15px;
    }

    ol {
        list-style-type: none;
        padding: 0;
    }

    ol :nth-child(odd) {
        text-align: right;
    }

    ol :nth-child(even) {
        text-align: left;
    }

    h2.tm-section-title {
        color: royalblue;
        text-transform: uppercase;
    }

    .heading h2 {
        color: royalblue;
        font-weight: lighter;
    }

    .heading a{
        color: deepskyblue;
    }

    .blocks .padding-medium :last-child {
        font-style: italic;
        letter-spacing: 5px;
        word-spacing: 10px;
    }    
}

@media screen {
    .tm-nav-item-link:hover {
        background-color: lightskyblue;
        color: #fff;
    }

    .tm-banner {
        background: linear-gradient(to right, lightskyblue, burlywood );
    }

    .tm-banner-inner {
        background: #fff;
    }

    @keyframes move {
        from {transform: translateX(200px);}
        to {transform: translateX(0px);
        }
    }

    .tm-banner-text {
        animation: move 5s ease-out;
        text-shadow: 4px 4px 2px #333;
    }

    .flex-2-col {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .flex-2-col .tm-section-title {
        text-align: center;
    }

    .tm-section-description {
        text-indent: 25px;
        line-height: 30px;
    }

    #about .box-bg:hover {
        background-color: lightgrey;
        color: lightskyblue;
        font-style: italic;
    }

    .heading h2 {
        color: lightskyblue;
        text-align: center;
    }

    .heading ol {
        list-style-type: lower-alpha;
    }

    .heading li:hover::before {
        content: ">";
        font-weight: bold;
    }

    .heading .text::after {
        color: red;
        content: "New";
        font-size: .7em;
        font-variant: small-caps;
        font-weight: bold;
        position: absolute;
    }

    .blocks .padding-medium :last-child {
        font-style: italic;
        letter-spacing: 5px;
        word-spacing: 10px;
    }

    .blocks ul li {
        padding: 10px;
    }

    .blocks ul li p {
        font-style: italic;
    }

    .blocks ul li p::first-letter {
        font-weight: bold;
    }

    .blocks ul li:nth-child(odd) {
        background-color: lightskyblue;
        color: #fff;
    }

    input.form-control {
        border-color: transparent;
        border-bottom: 1px solid lightskyblue;
    }

    input:focus {
        background-color: lightskyblue;
    }

    #contact_message {
        background: url('../img/email-icon.png') bottom 10px right 10px no-repeat;
        background-size: 3%;
        border: 1px solid lightskyblue;
        height: 150px;
    }

    .btn {
        background-color: #fff;
        border: 1px solid lightskyblue;
        color: lightskyblue;
        float: right;
        padding: 15px 25px;
    }

    nav, .tm-content-header, section {
        box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
    }

    section::before {
        border-top: 45px solid lightskyblue;
        border-right: 45px solid transparent;
        content: "";
        position: absolute;
    }
}
